a:focus {
  outline: 0 !important;
}
#header .md-icon-button .icon {
  font-size: 30px;
}
#header .rightSide {
  text-align: right;
}
#header .rightSide .loginSignup {
  font-size: 16px;
}
#header .rightSide .loginSignup .login {
  margin-right: 5px;
}
#header .rightSide .loginSignup .signup {
  margin-left: 5px;
}
#header .rightSide .name {
  display: inline-block;
  vertical-align: super;
}
#header .rightSide .name .welcome {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
  line-height: 10px;
  display: block;
  -webkit-font-smoothing: auto;
}
#header .rightSide .name .user {
  text-transform: uppercase;
}
#header .rightSide .gravatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 10px;
}
.md-fab .icon {
  font-size: 20px;
}
#content .title {
  margin-top: 0;
}
.pull-right {
  float: right;
}
.forgotPassword {
  margin: 10px 8px;
  display: block;
}
.md-sidenav-left {
  background: #263238;
}
.md-sidenav-left #logo {
  cursor: pointer;
  padding: 20px;
}
.md-sidenav-left #logo img {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
}
.md-sidenav-left #logo h1 {
  display: inline-flex;
  display: -webkit-inline-flex;
  vertical-align: super;
  color: white;
}
.md-sidenav-left .title {
  text-transform: uppercase;
  color: #6c7a89;
  display: block;
  padding: 20px 0 10px 20px;
  font-size: 16px;
  font-weight: lighter;
  -webkit-font-smoothing: auto;
}
.md-sidenav-left a {
  color: rgba(255, 255, 255, 0.87);
  padding: 20px 25px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}
.md-sidenav-left a .icon {
  margin-right: 10px;
}
.md-sidenav-left a.active {
  background: rgba(0, 0, 0, 0.1);
  color: white;
}
