<h4 class="title" ng-bind="page.title()"></h4>

<div layout="row" layout-wrap>
  <div flex="33" flex-md="100" flex-sm="100">
    <form name="userForm" ng-submit="submitForm()">
      <span style="color:red">{{error}}</span>
      <md-input-container>
        <label>Username</label>
        <input name="userName" ng-model="form.username">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input name="userName" ng-model="form.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="form.password">
      </md-input-container>
      <div layout="row" layout-fill>
        <div flex><md-button class="md-raised md-primary settingsBtn" type="submit" ng-disabled="userForm.$invalid">Submit</md-button></div>
      </div>
    </form>
  </div>
</div>
