<h4 class="title" ng-bind="page.title()"></h4>

  <div class="mdl-cell-12-col mdl-cell ">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Username</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Role</th>
          <th class="mdl-data-table__cell--non-numeric">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td class="mdl-data-table__cell--non-numeric">{{user.username}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.role}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="" ng-click="delete(user)"><i class="material-icons">delete</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
