<div layout="row" layout-wrap>
  <div flex="33" flex-md="100" flex-sm="100">
    <form name="userForm" ng-submit="submitForm()" novalidate>
      <span class="error" style="color:red">{{error}}</span>
      <md-input-container>
        <label>Username</label>
        <input name="userName" ng-model="form.username" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="form.password" required>
      </md-input-container>
      <div layout="row" layout-fill>
        <div flex><md-button class="md-raised md-primary loginBtn" type="submit" ng-disabled="userForm.$invalid">Login</md-button></div>
        <div flex><span class="pull-right">Login with <md-button type="button" class="md-fab md-mini md-primary"ng-click="loginFb()"><i class="icon ion-social-facebook"></i></md-button></span></div>

      </div>
      <a class="forgotPassword" href ui-sref="forgot">Forgot password</a>


    </form>




  </div>
</div>
